
<!-- {% load bootstrap_toolkit %} -->
{% block content %} 

	  <form id="tipo_objeto_update_view" class="form-actions" method="post" tabindex="-1"  action="{% url 'tipo_objeto_update_view' object.pk %}">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" action="">×</button>
		    <h3 id="myModalLabel">Update Object Type</h3>
		  </div>
		  <div class="modal-body"> 
		  {% if messages %}
					<div class="alert alert-info" width="30">
						<ul class="messages">
							{% for message in messages %}
								<li id="ulNoMaker" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> 
							{% endfor %}
						</ul>
					</div>
			{% endif %}  
				 {% csrf_token %}
				 {{ form|as_bootstrap }}
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		    <button type="submit" class="btn btn-primary">Save</button>
		  </div>
	  </form>


	<script type="text/javascript">
		
		var options = {
				
			target : '#objeto',
			success : showResponse
		};
		
		// post-submit callback 
		function showResponse(responseText, statusText, xhr, $form) {
		
			var ct = xhr.getResponseHeader("content-type") || "";
			// se a resposta for um json, significa que o objeto foi criado com sucesso
			if (ct.indexOf('json') > -1) {
				// fecha o modal
				$('#objeto').modal('hide');
				$('#objetoTab').html('');
		    	$('#pageTabContent').html('');
		    	addTabs("{% url 'tipo_objeto_get_view' %}");
				refreshDiv("{% url 'tipo_objeto_list_view' %}",'content');
			}
		}
		
		$('#tipo_objeto_update_view').ajaxForm(options);
	</script>
{% endblock %}


