{% block content %}

<div class="form-actions">
		<h3><strong>Adventures</strong></h3>
	<table class="table table-bordered">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Location</th>
		</tr>
		<tbody>
			{% csrf_token %}
			{% for object in object_list %}
			<tr class="success">
				<td><a data-toggle="modal"
					onClick="openModal('{% url  'aventura_update_view' object.pk %}','aventura')"
					href="#aventura">{{ object.nome }}</a></td>
				<td>{{ object.descricao }}</td>
				<td>{{ object.inicio }}</td>
				<td>{{ object.fim }}</td>
				<td>
				    <div id="locationAdventure"></div>
					<script type="text/javascript"> 
				   		getCity("{{ object.latitude }}","{{ object.longitude }}","{{ object.pk }}");
					</script>
				</td>
				{% if aventura_autoria == '-1' %}
						<td>
						 	<a class="btn btn-block btn-small btn-primary" data-toggle="modal"
						 	onClick="openModal('{% url 'aventura_ativar_edicao_view' object.pk %}','aventura')" 
						 	href="#aventura">Activate Authoring</a>		 
						</td>
				{% else %}
						<td>
						 	<button class="btn btn-block btn-small btn-primary disabled">Activate Authoring</button>	 
						</td>
				{% endif %}
				
				
				{% if aventura_autoria == object.pk %}
					<td>
					 	<a class="btn btn-block btn-small" data-toggle="modal"
					 	onClick="openModal('{% url 'aventura_desativar_edicao_view' object.pk %}','aventura')" 
					 	href="#aventura">Deactivate Authoring</a>		 
					</td>
					<td>	 
					 	<a class="btn btn-block btn-small btn-primary" data-toggle="modal"
					 	onClick="openModal('{% url 'autoria_estado_update_view' object.pk %}','aventura')" 
					 	href="#aventura">Update State Authoring</a>			 
					</td>
				
				{% else %}
					<td>
					 	<button class="btn btn-block btn-small disabled">Deactivate Authoring</button>	 
					</td>
					<td>
					 	<button class="btn btn-block btn-small btn-primary disabled">Update State Authoring</button> 
					</td>
				{% endif %}
				
				<td>
					<a class="btn btn-block btn-small btn-danger" data-toggle="modal" 
					onClick="openModal('{% url  'aventura_delete_view' object.pk %}','aventura')" 
					href="#aventura">Delete</a>
				</td>
				
			</tr>
			{% empty %}
			<tr>
				<td colspan="4"><i style="margin-right: 10px;"
					class="icon-warning-sign"></i><strong>Attention!</strong>There are no adventures.
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<!--  Modal para criacao de aventuras - a criacao de aventura se dara somente no inicio, por enquanto -->
	<a role="button"
		onClick="openModal('{% url 'aventura_create_view' user.id %}','aventura')"
		class="btn btn-small btn-primary" data-toggle="modal" href="#aventura">Create Adventure</a> 


	<!-- Div para guardar a modal -->
	<div id="aventura" class="modal hide fade"></div>

</div>

{% endblock %}