<!DOCTYPE html>
<html>
<head>
		<meta name="viewport"  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta charset="utf-8"/>
		<!--<meta http-equiv="refresh" content="15" />-->
		<!-- <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'/> -->
		
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    	<!--[if lt IE 9]>
    	<script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    	<![endif]-->
 		<script src="//code.jquery.com/jquery.js"></script>
 		<script src="{{ STATIC_URL }}js/jquery.form.min.js"></script>
 		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
 		
 		
		<script src="{{ STATIC_URL }}js/gmaputil.js"></script>
 		<script src="{{ STATIC_URL }}js/util.js"></script>
 		<link type="text/css" href="{{ STATIC_URL }}css/gmapstyle.css" rel="stylesheet" />
		<link type="text/css" href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />
		{% load i18n %}
    	{% load bootstrap_toolkit %}
 		{% bootstrap_stylesheet_tag %}
 		{% bootstrap_javascript_tag %} 		
      
        {% bootstrap_stylesheet_tag "responsive" %}
		<title>{% if title %}{{ title }}{% else %}{% trans "AntEnDLG - Authoring Environment for Location Decision Games" %} {% endif %}</title>
</head>
	<body>
		<div class="well well-small">
			<div class="container-fluid">
						<div class="row-fluid">
							<div class="span12">
								<img width="20%" class="avatar-frame"
									src="{{ STATIC_URL }}img/logo_2014.png"/>
							</div> 				
						</div>
				{% block content %}
				<div class="form-actions">
					<div class="container-fluid login" style="margin: 0 auto; width: 500px">
						<div class="row ">
							<div class="center span4 well">
								<legend>User Authentication</legend>
								
								 {% if messages %}
										<div class="alert alert-error" width="30">
											
											<ul class="messages" id="ulNoMaker">
												{% for message in messages %}
													<li id="ulNoMaker" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> 
												{% endfor %}
											</ul>
										</div>	
								{% endif %}
								<form method="POST" action="." accept-charset="UTF-8">
									{% csrf_token %}
									<p>
										<label><i class="icon-user"></i>User:</label> 
										
										{{ form.username }}
									</p>
									<p>
										<label><i class="icon-lock"></i>Password:</label> 
										{{ form.password }}
									</p>
									{% if next %} 
									<input type="hidden" name="next" value="{{ login }}" />
									{% else %} 
									<input type="hidden" name="next" value="/autenvldg/" />
									{% endif %}
									<div class="form-actions">
										<button type="submit" name="submit" class="btn btn-small btn-primary ">Log-In</button>
										
										<a role="button"
											onClick="openModal('{% url 'registrar_create_view' %}','registrar')"
											class="btn btn-small"  data-toggle="modal"
											href="#registrar">Create Account</a>
									</div>
								</form>
								<!--<div class="alert alert-info text-center">
									<p><strong>Dear Reviewers,</strong></p>
									Nowadays, the project is being development by a single programmer. 
									We are working with the mechanism of internationalization to support Portuguese and English.
									We thank you for understanding
									Sincerely,
									
									<p><strong>Happy New Year!!</strong></p>
									<p><strong>Access to reviewers</strong></p>
									<p><strong>User:</strong> worldcist14  <strong>Password:</strong> worldcist14</p>
								</div>-->
							</div>
							
						</div>
					</div>
					<div id="registrar" class="modal hide fade"></div>
				</div>
					<div class="modal-footer">
						<div class="well well-small">
							<p class="text-center">
								<small>UFES - Universidade Federal do Espirito Santo</small>
							</p>
							<p class="text-center">
								<small>LIED -Laboratório de Informática na Educação</small>
							</p>
							<p class="text-center">
								<small>Desenvolvido por: Roberto Guimarães Morati Junior </small>
							</p>
						</div>	
					</div>
					<span class="label label-info">Viewport Width:<span class="label label-info"  id="monitor"></span></span>
					<script>
						$('#monitor').html($(window).width());
						$(window).resize(function(){
							var viewportWidth = $(window).width();
							$('#monitor').html(viewportWidth);
						});
					</script>
					</div>
				{% endblock %}
			</div>
		</div>
	</body>
</html>


