<!-- {% load bootstrap_toolkit %} -->
	  <form id="aventura_create_view" class="form-actions" method="post" action="{% url aventura_create_view user.id %}">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" action="">×</button>
		    <h3 id="myModalLabel">Criar Aventura</h3>
		  </div>
		  <div class="modal-body">  
				 {% csrf_token %}
				 {{ form|as_bootstrap }}
				 
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
		    <button type="submit" class="btn btn-primary">Salvar Aventura</button>
		  </div>
	  </form>


		<script type="text/javascript">
			var options = {
				target : '#aventura',
				success : showResponse
			};
		
			// post-submit callback 
			function showResponse(responseText, statusText, xhr, $form) {
				var ct = xhr.getResponseHeader("content-type") || "";
				// se a resposta for um json, significa que o objeto foi criado com sucesso,
				if (ct.indexOf('json') > -1) {
					// fecha o modal
					$('#aventura').modal('hide');
					refreshDiv('{% url aventura_list_view user.id %}','content');
				}
			}
		
			$('#aventura_create_view').ajaxForm(options);
		</script>