{% block content %}

<div class="form-actions">
		<h3><strong>Adventures</strong></h3>
	<table class="table table-bordered">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Location</th>
		</tr>
		<tbody>
			{% for object in object_list %}
			<tr class="success">
				<td><a data-toggle="modal"
					onClick="openModal('{% url  aventura_update_view object.pk %}','aventura')"
					href="#aventura">{{ object.nome }}</a></td>
				<td>{{ object.descricao }}</td>
				<td>{{ object.inicio }}</td>
				<td>{{ object.fim }}</td>
				<td>{{ object.latitude }} 
				    {{ object.longitude }}</td>
				<td>
				{% csrf_token %} 
					<a class="btn btn-block btn-small btn-danger" data-toggle="modal" 
					onClick="openModal('{% url  aventura_delete_view object.pk %}','aventura')" 
					href="#aventura">Delete</a>
				</td>
				<td>
				 <!-- botao editar - id da aventura é inserido na seçção -->
				 	<a class="btn btn-block btn-small" data-toggle="modal"
				 	onClick="openModal('{% url aventura_ativar_edicao_view object.pk %}','aventura')" 
				 	href="#aventura">Activate Authoring</a>		 
				</td>
				<td>
				 <!-- botao editar - id da aventura é inserido na seçção -->
				 	<a class="btn btn-warning btn-small" data-toggle="modal"
				 	onClick="openModal('{% url aventura_desativar_edicao_view object.pk %}','aventura')" 
				 	href="#aventura">Deactivate Authoring</a>		 
				</td>
				
			</tr>
			{% empty %}
			<tr>
				<td colspan="4"><i style="margin-right: 10px;"
					class="icon-warning-sign"></i><strong>Atenção!</strong>Não existem
					aventuras.
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<!--  Modal para criação de aventuras - a criação de aventura se dará somente no inicio, por enquanto -->
	<a role="button"
		onClick="openModal('{% url aventura_create_view user.id %}','aventura')"
		class="btn btn-small btn-primary" data-toggle="modal" href="#aventura">Create Adventure</a> 


	<!-- Div para guardar a modal -->
	<div id="aventura" class="modal hide fade"></div>

</div>

{% endblock %}