
<!-- {% load bootstrap_toolkit %} -->
{% block content %}  
	  <form id="objeto_create_view" class="form-actions" method="post" action="{% url 'objeto_create_view' %}">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" action="">×</button>
		    <h3 id="myModalLabel">Create Object</h3>
		  </div>
		  <div class="modal-body">  
				 {% csrf_token %}
				 {{ form|as_bootstrap }}
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		    <button type="submit" class="btn btn-primary">Saveo</button>
		  </div>
	  </form>


		<script type="text/javascript">
			var options = {
				target : '#objeto',
				success : showResponse
			};
		
			// post-submit callback 
			function showResponse(responseText, statusText, xhr, $form) {
				var ct = xhr.getResponseHeader("content-type") || "";
				// se a resposta for um json, significa que o objeto foi criado com sucesso,
				
				if (ct.indexOf('json') > -1) {
					// fecha o modal
					$('#objeto').modal('hide');
					refreshDiv("{% url 'objeto_list_view' %}",'content');
				}
			}
		
			$('#objeto_create_view').ajaxForm(options);
		</script>
{% endblock %}


