{% comment %}
	{% extends 'base.html' %}
	{% load bootstrap_toolkit %}
	{{ form|as_bootstrap }}
{% endcomment %}

{% block content %}
	
	
	<div class="form-actions">
		<h2>Icons</h2> 
		<table class="table table-bordered" enctype="multipart/form-data">
			<tr >
				<th>Name</th>
				<th>Icon</th>
			</tr>
			<tbody>
				{% for object in object_list %}
				<tr class="success">
					<td>
						<!-- Modal para atualização de icones   --> 
						<a data-toggle="modal" onClick="openModal('{% url  icone_update_view object.pk %}','icone')" href="#icone">{{ object.nome }}</a> 
					</td>
					<td>
						<img  class="avatar" src="{{ object.icone.url }}" alt="avatar"/>
					</td>
					<td>
					
						{% csrf_token %}
						<a class="btn btn-block btn-small btn-danger" data-toggle="modal" onClick="openModal('{% url  icone_delete_view object.pk %}','icone')" href="#icone">Deletar</a>
					</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="6"><i style="margin-right: 10px;"
						class="icon-warning-sign"></i><strong>Attention!</strong>There are no registered icons.</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<!-- Modal para criação de ícones -->
		<a role="button" onClick="openModal('{% url  icone_create_view %}','icone')" class="btn btn-small btn-primary" data-toggle="modal" href="#icone">Create Icon</a>
		<!-- div para modal de criação; atualização e deleção -->
		<div id="icone" class="modal hide fade"></div>
	</div>

{% endblock %}
