<div class="form-actions">
	<h3>
		<strong>Missions</strong>
	</h3>
	<table class="table table-bordered">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Time</th>
			<th>Story</th>
			<th>Conditions</th>
		</tr>
		<tbody>
				{% for object in object_list %}
				<tr class="success">
					<td>
						<!-- Modal para atualização de objetos   --> <a data-toggle="modal"
						onClick="openModal('{% url  'missao_update_view' object.pk %}','missao')"
						href="#missao">{{ object.nome }}</a> 
					</td>
					<td>{{ object.descricao }}</td>
					<td>{{ object.tempo }}</td>		
					<td>{{ object.enredo }}</td>
					<td><a class="btn btn-block btn btn-small" data-toggle="modal"
								onClick="openModal('{% url  'condicoes_missao_list_view' object.pk %}','condicoes_missao')"
								href="#condicoes_missao">See</a></td>
					<td>
							{% csrf_token %}
							<!--<input type="submit" class="btn btn-block btn-small btn-danger " value="Deletar">-->
							<a class="btn btn-block btn-small btn-danger" data-toggle="modal"
								onClick="openModal('{% url  'missao_delete_view' object.pk %}','missao')"
								href="#missao">Delete</a>
					</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="6"><i style="margin-right: 10px;"
						class="icon-warning-sign"></i><strong>Attention!</strong>There are no exist missions or there is no adventure being edited.</td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
	<!-- Modal para criação de objetos -->
	<a role="button" onClick="openModal('{% url 'missao_create_view' %}','missao')" class="btn btn-small btn-primary" data-toggle="modal" href="#missao">Create Mission</a>
	<div id="missao" class="modal hide fade"></div>
	<div id="condicoes_missao" class="modal hide fade"></div>
</div>

