<div class="form-actions">
	<h3>
		<strong>Conditions between Instances Objects</strong>
	</h3>
	<div id="condicao_objeto">
		<table class="table table-bordered">
			<tr>
				<th>Name</th>
				<th>Prefix</th>
				<th>Link</th>
				<th>Suffix</th>
				<th>Story</th>
				<th>Operator</th>
				<th>Mission</th>
			</tr>
			<tbody>
					{% for object in object_list %}
					<tr class="success">
						<td>
							<!-- Modal para atualização de objetos   --> <a data-toggle="modal"
							onClick="openModal('{% url  condicao_objeto_update_view object.pk %}','condicoes')"
							href="#condicoes">{{ object.nome }}</a> 
						</td>
						<td>{{ object.prefixo }}</td>
						<td>{{ object.ligacao }}</td>		
						<td>{{ object.sufixo }}</td>
						<td>{{ object.enredo }}</td>
						<td>{{ object.operador }}</td>	
						<td>{{ object.missao }}</td>	
						<td>
								{% csrf_token %}
								<!--<input type="submit" class="btn btn-block btn-small btn-danger " value="Deletar">-->
								<a class="btn btn-block btn-small btn-danger" data-toggle="modal"
									onClick="openModal('{% url  condicao_delete_view object.pk %}','condicoes')"
									href="#condicoes">Delete</a>
						</td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="6"><i style="margin-right: 10px;"
							class="icon-warning-sign"></i><strong>Attention!</strong>There are no registered missions for the adventure, or, there is no adventure being edited.</td>
					</tr>
					{% endfor %}
			</tbody>
		</table>
	</div>
	
	<!-- Modal para criação de objetos -->
	<a role="button" onClick="openModal('{% url condicao_objeto_create_view %}','condicoes')" class="btn btn-small btn-primary" data-toggle="modal" href="#condicoes">Create Condition</a>
	<div id="condicoes" class="modal hide fade"></div>
</div>

