
<!-- {% load bootstrap_toolkit %} -->
{% block content %}  
	  <form id="agente_create_view" class="form-actions" method="post" action="{% url agente_create_view %}">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" action="">×</button>
		    <h3 id="myModalLabel">Create Agent</h3>
		  </div>
		  <div class="modal-body">
			  {% if messages %}
						<div class="alert alert-error" width="30">
							<button type="button" class="close" data-dismiss="alert">
								<span class="badge badge-important">x</span>
							</button>
							<ul class="messages">
								{% for message in messages %}
									<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> 
								{% endfor %}
							</ul>
						</div>
				 {% endif %}
				 {% csrf_token %}
				 {{ form|as_bootstrap }}
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		    <button type="submit" class="btn btn-primary">Save Agent</button>
		  </div>
	  </form>


		<script type="text/javascript">
			var options = {
				target : '#agente',
				success : showResponse
			};
		
			// post-submit callback 
			function showResponse(responseText, statusText, xhr, $form) {
				var ct = xhr.getResponseHeader("content-type") || "";
				// se a resposta for um json, significa que o objeto foi criado com sucesso,
			
				if (ct.indexOf('json') > -1) {
					// fecha o modal
					$('#agente').modal('hide');
					refreshDiv('{% url agente_list_view %}','content');
				}else if (ct == 'text'){
					openModal('{% url agente_create_view %}','agente');
				}
			}
		
			$('#agente_create_view').ajaxForm(options);
		</script>
{% endblock %}


