<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>
<div class="form-actions">
	<h3>
		<strong>Suggestions</strong>
	</h3>
	<table class="table table-bordered">
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Suggetion</th>
			<th>Proximity</th>
		</tr>
		<tbody>
			{% for object in object_list %}
			<tr class="success">
				{% if object.tipo_id == 'TXT' %}
					<td>
						<a data-toggle="modal"
						onClick="openModal('{% url  'sugestao_message_update_view' object.pk %}','sugestao')"
						href="#sugestao">{{ object.nome }}</a> 
					</td>
				{% else %}
					<td>
						<a data-toggle="modal"
						onClick="openModal('{% url  'sugestao_file_update_view' object.pk %}','sugestao')"
						href="#sugestao">{{ object.nome }}</a> 
					</td>	
				{% endif %}	
				<td>{{ object.tipo }}</td>
				<td>
					{% if object.tipo_id == 'SAU' %}
					<audio src="{{MEDIA_URL}}{{ object.sugestao }}"preload="auto" />
					{% else %}
					{{  object.sugestao }}
					{% endif %}
				</td>
				<td>{{ object.proximidade }}</td>		
				<td>
						{% csrf_token %}
						<a class="btn btn-block btn-small btn-danger" data-toggle="modal"
							onClick="openModal('{% url  'sugestao_delete_view' object.pk %}','sugestao')"
							href="#sugestao">Delete</a>
				</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="6"><i style="margin-right: 10px;"
					class="icon-warning-sign"></i><strong>Attention!</strong>There are no suggetions.</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<!-- Modal para criação de objetos -->
	<a role="button" onClick="openModal('{% url 'sugestao_file_create_view' %}','sugestao')" class="btn btn-small btn-primary" data-toggle="modal" href="#sugestao">Create Suggestion File</a>
	<a role="button" onClick="openModal('{% url 'sugestao_message_create_view' %}','sugestao')" class="btn btn-small btn-primary" data-toggle="modal" href="#sugestao">Create Suggestion Message</a>
	
	<div id="sugestao" class="modal hide fade"></div>
</div>