
<!-- {% load bootstrap_toolkit %} -->
{% block content %} 
    <div id="contentInstance">
	  <form id="instancia_objeto_update_view" class=""  method="POST" tabindex="-1"  action="{% url instancia_objeto_update_view object.pk %}">
		{% csrf_token %}	
			 <div class="row-fluid">
					 	<div class="span6">
	                		<div class="form-group">  
					 			{{ form.nome|as_bootstrap }}
						 		{{ form.sugestao|as_bootstrap}}
						 	</div>
						</div>
						<div class="span6">
	                		<div class="form-group">
					 			{{ form.encenacao|as_bootstrap }}
						 		{{ form.proximidade|as_bootstrap}}
						 	</div>
						</div>
						<div class="span6">
	                		<div class="form-group">		 			
					 			{{ form.dialogo|as_bootstrap }}
						 		{{ form.visivel|as_bootstrap}}
						 	</div>
						</div>
				  </div>
		    	<button type="submit" class="btn btn-mini btn-primary">Salvar</button>
	  </form>
	  <form id="instancia_objeto_delete_view" class=""  method="post" tabindex="-1"  action="{% url instancia_objeto_delete_view object.pk %}">
		  {% csrf_token %}	
	   <button type="submit" class="btn btn-mini  btn-danger">Deletar</button>
	  </form>
	</div>

{% endblock %}


